settings-panel {
    background-color: hsl(from var(--background) h s calc(l * 1.25));
    box-shadow: -0.5em 0 0.5em hsl(from var(--background) h s calc(l - 50) / 25%);
    box-sizing: border-box;
    width: 100%;
    max-width: 414px;
    padding: 0 1em;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -414px;
    bottom: 0;
    opacity: 0;
}

settings-panel:target {
    right: 0;
    opacity: 1;
}

settings-panel hgroup {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

settings-panel input[name="updatesInterval.amount"] {
    max-width: 50px;
}