@import "./Components/AlimentoApp/AlimentoApp.css";
@import "./Components/AddSubscription/AddSubscription.css";
@import "./Components/FeedItemsList/FeedItemsList.css";
@import "./Components/SettingsPanel/SettingsPanel.css";
@import "./Components/FeedSubscriptions/FeedSubscriptions.css";

:root {
    --color-white: #faf9f7;
    --color-black: #0a0700;
    --color-grey: #747474;
    --color-blue: #063fa1;
    --color-green: #3fab3c;
    --color-yellow: #dbb714;
    --color-red: #b42727;

    --background: var(--color-white);
    --foreground: var(--color-black);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: sans-serif;
    font-size: 16px;
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

input, select {
    background-color: hsl(from var(--background) h s calc(l * 1.25));
    border-color: hsl(from var(--foreground) h 0 calc(l * 30));
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    font-size: 1em;
    padding: 0.5em;
}

select {
    max-width: 100%;
}

input::placeholder {
    color: hsl(from var(--foreground) h 0 calc(l * 35));
    font-style: italic;
}

button {
    background-color: var(--color-grey);
    border-color: var(--color-grey);
    border-radius: 0.25em;
    color: var(--color-white);
    font-size: 1em;
    padding: 0.5em;
}

button:disabled {
    background-color: hsl(from var(--color-grey) h s calc(l + 50%));
    border-color: hsl(from var(--color-grey) h s calc(l + 50%));
}

button[type="submit"] {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

button.negative {
    background-color: var(--color-red);
    border-color: var(--color-red);
}

.form-field {
    margin-bottom: 1em;
}

.form-field__label {
    display: block;
    margin-bottom: 0.25em;
}

.panel {
    background-color: hsl(from var(--background) h s calc(l * 1.25));
    box-shadow: -0.5em 0 0.5em hsl(from var(--background) h s calc(l - 50) / 25%);
    box-sizing: border-box;
    width: 100%;
    max-width: 414px;
    padding: 0 1em;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: -414px;
    bottom: 0;
    opacity: 0;
}

.panel:target {
    right: 0;
    opacity: 1;
}

.panel hgroup {
    background-color: hsl(from var(--background) h s calc(l * 1.25));
    position: static;
    top: 0;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}